<% content_for :page_title do %>
Add Member - <%= @organization.name %> -
<% end %>
<div class="container">
	<div class="page-header">
		<h1>
			Add a Team Member
		</h1>
	</div>

	<%= render 'form' %>

	<div class="clearfix"></div>
	<%= link_to "<span class=\"glyphicon glyphicon-ban-circle\" aria-hidden=\"true\"></span> Cancel".html_safe, organization_memberships_path(@organization), class: "btn btn-default" %>
</div>
